:root {
    --bg-primary: radial-gradient(hsl(28, 100%, 51%), hsl(0, 91%, 41%));
    --bg-secondary: linear-gradient(hsl(26, 100%, 50%), hsl(51, 100%, 45%));

    --bg-opened-tile: hsl(0, 0%, 100%);
    --border-opened-tile: hsl(0, 0%, 44%);
    --bg-unopened-tile: hsl(40, 100%, 65%);
    --border-unopened-tile: hsl(39, 37%, 53%);
    --border-radius: 5px;
    
    /* Hover effects */
    --bg-unopened-tile-hover: hsl(40, 100%, 50%);
    --bg-opened-tile-hover: hsl(0, 0%, 90%);
    /* Shadows */
    --shadow: inset 3.3px 3.3px 9.9px 0 hsla(0,0%,100%, 50%), 
        6.6px 5px 9.9px 0 hsla(0,0%,0%, 33%);
    --shadow-text: 3.3px 5px 6.6px hsla(0,0%,0%, 33%);

    /* Font-family */
    --font-family: 'Molen Friend Demo', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

/* typography */

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    background: var(--bg-primary) no-repeat center center/cover;
    font-size: 2.6rem;
    min-height: 100vh;
}

p {
    margin: 0;
}

/* tiles */

.tile {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius); 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    text-shadow: var(--shadow-text);
    cursor: pointer;
    transition: background-color .4s ease, color .4s ease;
}

.tile img, .tile p {
    transition: height .2s, opacity .2s;
}

.tile:has(img) {
    padding: 0 0 .5rem .5rem;
}

.tile--opened {
    background-color: var(--bg-opened-tile);
    border: 1px solid var(--border-opened-tile);
    -webkit-text-stroke: .5px var(--border-opened-tile);
    color: #5E34EA;
}

.tile--opened:hover {
    background-color: var(--bg-opened-tile-hover);
    color: #522ad3;
}

.tile--unopened {
    background-color: var(--bg-unopened-tile);
    border: 1px solid var(--border-unopened-tile);
}

.tile--unopened:hover {
    background-color: var(--bg-unopened-tile-hover);
}

.tile--unopened--flagged {
    background-color: var(--bg-unopened-tile);
    border: 1px solid var(--border-unopened-tile);
}

.tile--unopened * {
    height: 0;
    opacity: 0;
}

.tile--opened * {
    height: auto;
    opacity: 1;
}

/* grid */

.grid {
    align-items: center;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(var(--cols, 10), 3.5rem);
    justify-content: center;
    justify-items: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Status Bar */

.game-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 0 2rem;
    align-items: center;
    background: var(--bg-secondary);
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.game-header__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-shadow: var(--shadow-text);
}

.game-header__difficulty {
    appearance: none;
    background: var(--bg-primary);
    border-radius: var(--border-radius);
    border: 1px solid #F14646;
    color: hsl(0, 0%, 90%);
    cursor: pointer;
    font-size: 1.8rem;
    outline: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-shadow: 2px 2px 3px hsla(0,0%,0%, 33%);
}

.game-header__difficulty option {
    background: #d82b08;
    color: hsl(0, 0%, 90%);
}

.game-header__back {
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}

.img-wrapper {
    width: 35px;
    height: 35px;
}

.game-header__bomb-count {
    align-self: flex-end;
}

.game-header__timer {
    align-self: flex-end;
    margin-left: 2rem;
}

/* Mode-toggler */

.mode-toggler {
    align-items: center;
    background-color: var(--bg-opened-tile);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-opened-tile);
    bottom: 40px;
    box-shadow: var(--shadow);
    display: flex;
    font-size: 3.2rem;
    height: 4.2rem;
    justify-content: center;
    padding: .5rem;
    position: absolute;
    right: 28px;
    width: 4.2rem;
}
